#evlistCalCheckboxes {
    float: right;
    position: relative;
}

#calendar_dialog {
    position: absolute;
    right: 30px;
    background-color: #dedede;
    border: solid 1px #000000;
    width: 100px;
    padding: 10px;
    visibility: hidden;
    z-index: 999;
}

.evlistCalendarDialogClose {
    width: 12px!important;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #ffffff;
    border: solid #000000;
    border-width: 0 0 1px 1px;
    text-align: center;
}

.evlistCalendarDialogClose a {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

#evlistCalendarPrintLink {
    float: right;
}

#evlistCalendarFooter {
    float: left;
}

.evlisteditor label {
  width: 8em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
  /*font-weight:bold;*/
}

.evlisteditor p {
  margin-bottom:1em;
}

.evlisteditor textarea {
    width: 80%;
    height: 5em;
}

.evlisteditor input.text {
    width: 80%;
}

.evlisteditor fieldset div {
    padding: 5px;
}

#evlistEventHeader {
    clear: both;
    margin-left: 15px;
    margin-right: 15px;
}

#evlistEventDetail {
    position: relative;
    margin-right: 40px;
}

#evlistEventEditSelect {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

#evlistMapOuter {
    position: relative;
    float: right;
    margin: 15px;
    width: 400px;
}

#action_dialog,
#subscribe_dialog {
    position: absolute;
    right: 0px;
    background-color: #dedede;
    border: solid 1px #000000;
    width: 200px;
    padding: 10px;
    visibility: hidden;
    z-index:999;
}

#action_dialog a,
#subscribe_dialog a {
    text-decoration: none;
}

#action_dialog img,
#subscribe_dialog img {
    width: 16px;
    height: 16px;
    border: 0px;
    margin-right: 1em;
}

#evlistCategoryLinks {
    text-align: center;
    margin-bottom: 2em;
}

.evlistRedNote {
    font-size: small;
    color: red;
}

.evlist label {
  width: 8em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
  /*font-weight:bold;*/
}

.evlist p {
  margin-bottom:1em;
}

.evdata {
  position: relative;
  margin-left: 8em;
  margin-bottom: 8px;
}

h2.evlist_header {
    text-align: center;
    color: #656567;
    background: transparent;
    font-size: 14pt;
    font-weight: bold;
    margin: 1em 0 0 0;
    border: 1px solid #BBBBBB;
    padding: .25em;
    position: relative;
}
.evlist_header span.evlist_eid {
    position: absolute;
    top: 0;
    right: 0;
    color: #cccccc;
    font-size: 10pt;
    background-color: #eeeeee;
    margin: 2px;
    padding: .2em;
    border: 1px solid #cccccc;
}
h2.evlist_header a {
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

table.evlist_month {
/*  background:#FFFFFF;
  border-bottom:#E7E7E7 1px solid;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  color:#000000;
  font-weight:bold;*/
    width: 100%;
    border: 1px solid #BBBBBB;
    border-collapse: collapse;

}
table.evlist_month td {
    border: 1px solid #BBBBBB;
    height: 95px;
    vertical-align: top;
    text-align: left;
}

table.evlist_month td.cal-weekpointers {
    vertical-align: middle;
    text-align: center;
}

table.evlist_month tr.daynames td {
    background-color: #cccccc; /* Pale Grey */
    font-weight: normal;
    text-decoration: none;
    /*width: 14%;*/
    height: 1.5em;
    text-align: center;
}

div.evlistWeeklyEvent {
    border-bottom: 1px solid white;
}

/*  month display classes.  Values of "on", "off", or "today" are set in the code.
    These appear in the templates as "month{value}", so "month" can be changed to customize. */
table.evlist_month td.monthon {
    background-color: #fcfcfc;
/*    background-color:#f0f0f0;*/
}
table.evlist_month td.monthoff {
    /*background-color: #c0c0c0;*/
    background-color:#e0e0e0;
}
table.evlist_month td.monthtoday {
  /*  background-color: #FFFFFF;*/
background-color:#FFF7D7;
}

table.evlist_month td:hover {
    background-color: #cfcfcf;
}

.cal-date {
    text-decoration:none;
}

a.cal-event {
    text-decoration:none;
    font-size:1.25em;
}

.cal-day,
.cal_day {
/*    background-color: #cccccc; /* Pale Grey */
    font-weight: normal;
    text-decoration: none;
    width: 14%;
    height: 1.5em;
    text-align: center;*/
  background:transparent;
  border-bottom:#F7F7F7 1px dashed;
  border-left:#F7F7F7 1px dashed;
  border-top:#1A3955 2px solid;
  color:#000000;
  font-weight:bold;
}

.cal-dayview-times {
  background:#F7F7F7;
  border-bottom:#E7E7E7 1px solid;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  border-top:#1A3955 1px dashed;
  color:#666666;
  font-weight:bold;
  font-size:1.0em;
  vertical-align:bottom;
}
.cal-dayx-body {
  background:#E7E7E7
}
.cal-dayx-cur {
  background:#FFFFFF;
  color:#000000;
  font-weight:bold;
  font-size:.8em;
}
.cal-dayx-subcur {
  background:#FFFFFF;
  color:#000000;
  font-weight:bold;
  font-size:.8em;
  padding-top:4px;
}
.cal-dayx-times {
  border-bottom:#FFFFFF 1px solid;
  border-left:#FFFFFF 1px solid;
  border-right:#FFFFFF 1px solid;
  width:1%;
  vertical-align:top;
}
.cal-dayx-times2 {
  background:#FFFFFF
}
.cal-dayx-weekevent {
  border-bottom:#FFFFFF 1px solid;
  border-left:#FFFFFF 1px dashed;
  border-right:#FFFFFF 1px dashed;
  border-top:#E7E7E7 1px solid;
  white-space:nowrap;
  width:1%;
}

.cal-header {
  background:#FFFFFF;
  border-bottom:#F7F7F7 1px solid;
  border-left:#F7F7F7 1px solid;
  border-right:#F7F7F7 1px solid;
  border-top:#F7F7F7 1px solid;
}
.cal-hr {
  background:#FFFFFF
}
.cal-month,
.cal_month {
  background:#F7F7F7;
  color:#000000;
  font-size:.9em;
}

.cal-nullday {
  background:#CCCCCC;
  border-bottom:#F7F7F7 1px dashed;
  border-left:#F7F7F7 1px dashed;
  border-top:#F7F7F7 1px dashed;
  color:#000000;
}
.cal-oldday {
  /*background:#F6F6F6*/
  background:#F0F0F0;
  /*color:#000000;*/
}
.cal-futureday {
  background:#F0F0F0;
}

.cal-quickadd,
.quickadd {
  background:#F7F7F7;
  border-bottom:#E7E7E7 1px solid;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  padding:4px;
}
.cal-today {
    /*background-color: #FFFFAA;*/
    background-color: #FFFFFF;
/*  background:#FFFFFF;
  border-bottom:#1A3955 1px dashed;
  border-left:#1A3955 1px dashed;
  border-right:#1A3955 1px dashed;
  border-top:#1A3955 1px dashed;*/
}

.cal-weekview-addevent {
  background:#FFFFFF;
  border-right:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  color:#000000;
  font-weight:bold;
  font-size:.8em;
  padding:4px;
  text-align:right;
  white-space:nowrap;
}
.cal-weekview-caltitle {
  background:#FFFFFF;
  border-bottom:#E7E7E7 1px solid;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  color:#000000;
  font-weight:bold;
  font-size:.8em;
  padding:4px;
}
.cal-weekview-curday,
.weekview_curday {
  background:#F7F7F7;
  color:#000000;
}
.cal-weekview-daterange {
  background:#FFFFFF;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  color:#000000;
  font-weight:bold;
  font-size:.8em;
  padding:4px;
}
.cal-weekview-dayformat {
  background:#FFFFFF;
  /*border-left:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;*/
  color:#656567;
  font-weight:bold;
  font-size:1.2em;  padding:4px;
}
.cal-weekview-offday,
.weekview_offday {
  background:transparent;
  color:#000000;
}
.smallcal-week-even {
  background:#E7E7E7;
  color:#000000;
}

/*table.evlist_month .dayheader {
    padding: 0 2px;
    color:red;
    background-color:#CBD8ED;
    width:100%;
}*/

table.evlist_month .monthview_daterow span {
    padding: 0 2px;
}
table.evlist_month .monthview_daterow {
    /*background-color: #dddddd;*/
    background-color: #d5d5d5;
}
table.evlist_month .monthview_daterow .today {
    padding: 0 2px;
    background-color: #CCFFCC;    /* Pale Green */
    /*background-color: #FFFFCC;    /* Pale Yellow */
}
table.evlist_month .monthview_daterow_today span.new_icon {
    float: right;
}

table.evlist_month .monthview_daterow span.new_icon {
    float: right;
}
table.evlist_month div.monthview_allday {
    color:#FFFFFF;
    background-color: #C3D9FF;
}

table.evlist_month .monthview_events {
    font-size: 8pt;
    text-decoration: none;
}

#evlistHdrForm select {
    margin-bottom: 5px;
}

.evlistDateTrigger {
    cursor: pointer;
}

#evlist_nav_right,
#evlist_nav_left {
    border: none;
    margin: 0;
    padding: 0px;
    width: 50%;
    vertical-align: top;
}

#evlist_nav_right {
    float: right;
    text-align: right;
    /*line-height: 1.8em;*/
}
#evlist_nav_right ul,
#evlist_nav_left ul { /* navigation icons list */
    padding: 0;
    margin: 0;
}
#evlist_nav_right ul li { /* navigation icons list items */
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}
#evlist_nav_left ul li {
    list-style: none;
}
a.evlist_nav_text {
    padding: 0 4px;
    border: 1px solid;
    text-decoration: none;
}
a.evlist_nav_text:hover {
    background-color: #cccccc;
    text-decoration: none;
}
a.evlist_nav_text_selected {
    padding: 0 4px;
    border: 1px solid;
    background-color: #cccccc;
    text-decoration: none;
}
a.evlist_nav_text_selected:hover {
    background-color: #ffffff;
    text-decoration: none;
}

.evlist ul {
margin:0;
padding:0 0 0 2px;
}

.evlist li {
list-style-type:disc;
list-style-position:inside;
margin-left:15px;
padding-right:2px;
}

div.calcontainer {
    margin-top:.2em;
}

/*********** SMALLMONTHTABLE STYLES **************/
table.smallmonthtable {
    width: 100%;
    border: 1px solid #BBBBBB;
    border-collapse: collapse;
}
table.smallmonthtable a {
    text-decoration: none;
    color: #333333;
    font-weight: normal;
}
table.smallmonthtable td {
    border: 1px solid #BBBBBB;
    text-align: center;
    vertical-align: middle;
    font-size: .8em;
    line-height: 1.8em;
}
table.smallmonthtable td.monthheader {
    background-color: #eeeeee;
    font-size: 1em;
    padding: 3px 0;
    line-height: normal;
}
table.smallmonthtable td.monthheader a {
    color: #666666;
    font-weight: bold;
}
table.smallmonthtable td.monthheader a:hover {
    color: #000000;
    text-decoration: none;
}
table.smallmonthtable td.monthon {
    background-color: white;
}
table.smallmonthtable td.monthoff {
    background-color: #c0c0c0;
}
table.smallmonthtable td.monthtoday { /* color assignments for TODAY */
    background-color: #FFFFAA;
}
table.smallmonthtable tr.daynames td {
    background-color: #cccccc; /* Pale gray */
}
table.smallmonthtable td.weeklink {
    background-color: #cccccc; /* Pale gray */
    width: 1em;
}
table.smallmonthtable td:hover {
    background-color: #eeeeee;
}
table#evlist_yearview {
    width: 100%;
    border-collapse: separate;
}
table#evlist_yearview td.evlist_yearview_panel {
    padding: 5px;
    text-align: center;
    vertical-align: top;
}
table.smallmonthtable a.day-events, .day-events {
	color: #0066cc; /* Hard Dark Azure */
}
.nolink-events {
    color: #006600; /* Obscure Dull Green */
}

table.smallmonthtable a.day-noevents {
	color: #000;
}

.reminder_div {
    position: absolute;
}

