<plugin>
    <id>evlist</id>
    <name>evList</name>
    <description>evList is a calendar solution for glFusion, supporting recurring events, categories, multiple calendars, and event reminders.</description>
    <version>1.3.7</version>
    <glfusionversion>1.3.0</glfusionversion>
    <phpversion>5.2.0</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
    <dataproxydriver>evlist.class.php</dataproxydriver>
    <requires>lglib</requires>
</plugin>
